GEMINI_API_KEY=google_AI_studio_API_key
DIFFBOT_API_KEY=Diff Bot API key
DJANGO_SECRET_KEY=django_secret_key_here
ALLOWED_HOSTS=127.0.0.1,localhost,other_domains
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password_here
GDRIVE_EUGENIO=url_de_Monitoreo_noticias_-_Mapa_de_la_Policía
GDRIVE_SIN_DETENIDOS=url_de_SIN_DETENIDOS_Copia_de_Monitoreo_noticias_-_Mapa_de_la_Policía
GDRIVE_DATASET=url_de_dataset_articulos_Mapa_Policia
GDRIVE_JUAN_SIN_DETENIDOS=url_de_Copia_de_SIN_DETENIDOS_Copia_de_Monitoreo_noticias_-_Mapa_de_la_Policía